extends ../layout/index
block content
    .py-10
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span(class="font-normal") Raíces
        h2(class="text-center text-2xl font-extrabold") #{title}
    div(class="bg-white text-center max-w-md mx-auto shadow rounded p-3")
        p(class=`${ error ? 'bg-red-500' : 'bg-green-500' } rounded text-white w-full uppercase p-2 mb-2`) #{message}
        a(href="/iniciar-sesion" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded block") Iniciar Sesión