extends ../layout/index
block content
    .py-10
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span(class="font-normal") Raíces
        
        if errors 
            div(class="alert-error")
                each error in errors
                    p(class="alert-error__text") #{error.msg}

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-6" action="/auth/login" method="POST")
                    div
                        label(for="email" class="label") Email
                        input(type="email" id="email" name="email" class="input" placeholder="Tu email" value=email)
                    div
                        label(for="password" class="label") Password
                        input(type="password" id="password" name="password" class="input" placeholder="Tu password" value=password)
                    
                    input(type="submit" value="Iniciar Sesión" class="btn")
                div(class="content-link")
                    a(href="/auth/registro" class="link-action") ¿Aún no tienes una cuenta? Registrate
                    a(href="/auth/recuperar-password" class="link-action") Olvide mi contraseña