extends ../layout/index
block content
    .py-10
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span(class="font-normal") Raíces
        h2(class="text-center text-2xl font-extrabold") #{title}
        if errors 
            div(class="alert-error")
                each error in errors
                    p(class="alert-error__text") #{error.msg}        

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-6" method="POST" action="/auth/recuperar-password")
                    div
                        label(for="email" class="label") Email
                        input(type="email" id="email" name="email" class="input" placeholder="Tu email")
                    input(type="submit" value="Enviar Instrucciones" class="btn")
                div(class="content-link")
                    a(href="/auth/login" class="link-action") ¿Ya tienes una cuenta? Inicia Sesión
                    a(href="/auth/registro" class="link-action") Crear una cuenta