extends ../layout/index
block content
    .py-10
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span(class="font-normal") Raíces
        h2(class="text-center text-2xl font-extrabold") #{title}

        if errors 
            div(class="alert-error")
                each error in errors
                    p(class="alert-error__text") #{error.msg}

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-6" method="POST")
                    div
                        label(for="password" class="label") Nueva Password
                        input(type="password" id="password" name="password" class="input" placeholder="Tu  nueva password")
                    div
                        label(for="password2" class="label") Confirmar Password
                        input(type="password" id="password2" name="password2" class="input" placeholder="Repetir password")
                    
                    input(type="submit" value="Cambiar Password" class="btn")